<% layout('../layout') %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Order</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <label>Search</label>
    <input class="form-control" id="search1" required name="search1" onchange="displayname()">
        <!-- <input type= text id="namehere" onchange="displayname()"  required name="namehere"> -->
        <br>

        <!-- <a href="/users/idu" class="btn btn-success " role="button"><i class="fa fa-plus" aria-hidden="true"></i></a> -->

        <script>
            function displayname() {
                location.href =
                    "/orders/odu?Key=" + document.getElementById("search1").value;
            }

        </script>

    <div>



        <table class="table table-responsive">
            <thead>
            <tr>

                <th>Name</th>
                <th>Address</th>
                <th>Order_id</th>
                <th>Delivery:</th>
                <th>Status</th>
                <th>totalPrices</th>

            </tr>
            </thead>
            <% orders.forEach(function(orders) { %>
            <tbody>
            <tr>

                <td><%= orders.name %></td>
                <td><%= orders.address %></td>
                <td><%= orders.orderid %></td>
                <td><%= orders.delivery %></td>
                <td><%= orders.status %></td>
                <td><%= orders.totalPrices %></td>


            </tr>

            <% }); %>

            </tbody>

        </table>
    </div>
</div>
<!-- /#page-wrapper -->